.background{
    background-image: linear-gradient(to bottom right, #824A7B, #C397BE);
}

#navbarSupportedContent{
    /* these need to be on the right */
}
.hero{
   background-image: linear-gradient(to bottom right, #2FC6A8, #9CE8D9);
}

#feature{
    background-image: linear-gradient(to bottom right, #DD6E42, #ebc584);
}

.headline,
.lead {
    text-align: left
}

#keyboard,
#book,
#controller{
    align: left
/* this doesn't work yet */
}