:root{
    --pink: #d3bec0;
    --green: #c0d3be;
    --blue: #bed3d2;
    --triadic: #becad3;
    --grey: #7b8085;
    --black: #212529;
}

.background{
    background-color: var(--pink);
    /* background-image: url('images/pinkBackground.jpg');
    height: 100vh; */
}

.card{
    background-color: transparent;
    border: 1px solid #7b8085;
}

.border-jill {
    border-color: #7b8085 !important;
}

.btn-secondary{
    background-color: #b2c8bc;
    color: var(--black);
    border: 1px solid var(--blue);
    padding: 5px;
}

/* 
#bed3c7 complementary

#bed3d2 blue
#d3beca pink
#c0d3be green

#becad3 triadic */
