.background{
    background-color: #d3bec0;
}

.card{
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, .35);
}

.border-jill {
    border-color: #7b8085 !important;
}

#bed3c7

#bed3d2
#d3beca
#c0d3be



#d3bec0
#d2bed3